<%- include('../includes/head', { title: 'Krosmaga Hub | Bans' }) %>
<%- include('../includes/socket-io') %>

<script>
  var roomId = "<%= roomId %>"
  var maxBanCount = "<%= maxBanCount %>"
  var maxPickCount = "<%= maxPickCount %>"
  var username = "<%= username %>"
</script>

<script defer src="/public/scripts/bans.room.js"></script>

<p>
  Attention ! <br>
  Ne montrez ce lien qu'à votre adversaire ! <br>
  Si vous et votre adversaire quittez cette page, cette session de bans sera supprimée.
</p>